<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>filmzu</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<%= stylesheet_link_tag("style") %>
<%= stylesheet_link_tag("bootstrap.min") %>
<%= stylesheet_link_tag("uniform.default") %>
<%= stylesheet_link_tag("jquery-ui") %>

<!--[if lte IE 8]><script type="text/javascript" src="js/html5shiv.js"></script><![endif]-->
<!--[if lte IE 8]><script type="text/javascript" src="js/respond.min.js"></script><![endif]-->
<%= javascript_include_tag 'jquery-1.9.0.js' %>
<%= javascript_include_tag 'jquery-migrate-1.2.1.js' %>

</head>

<body>


<section id="mpart">  
  <div class="stripbox pr">
      <div class="white-box"></div>
        <div class="light-gray-box"></div>
    </div>
  <div class="container clearfix">
        <div class="dashbord-cpart row">
            <div class="nav-lpart">
                <ul>
                    <li class="active"><span class="alerts-box">4</span><a href="#"><img src="images/blank-img.png" class="dashbord-icon" alt="" title="" />Dashboard</a></li>
                    <li><a href="#"><img src="images/blank-img.png" class="profile-icon" alt="" title="" />Profile</a></li>
                    <li><a href="#"><img src="images/blank-img.png" class="msg-icon" alt="" title="" />Messages</a></li>
                    <li><a href="#"><img src="images/blank-img.png" class="project-icon" alt="" title="" />Projects</a></li>
                    <li><a href="#"><img src="images/blank-img.png" class="account-icon" alt="" title="" />Accounts</a></li>
                    <li><a href="#"><img src="images/blank-img.png" class="setting-icon" alt="" title="" />Settings</a></li>
                </ul>                
            </div>
            <div class="content-rpart">
                <div class="inner-title-box clearfix">
                    <h2 class="fl">Dashboard</h2>
                    <div class="wh-sm-select fl"><select><option>Sort Results</option></select></div>                    
                </div>                
                <div class="pro-mpart clearfix">
                <div class="review-box fl">
                  <ul class="pro-listing">
                        <li>
                            <div class="img-box fl"><img src="images/thumb-img.jpg" alt="" title="" /></div>
                            <div class="listing-cpart">
                              <div class="ls-hpart">
                                    <div class="fl">
                                        <h3>Killer Explainer Video</h3>
                                        <div class="cat-part clearfix">
                                          <div class="fl">by <span>User Name</span></div>
                                          <div class="fl">budget $50,000</div>
                                      </div>
                                    </div>
                                    <span class="new-alert fr">New</span>
                              </div>
                              <div class="des-text">Job description, what kind of people they are looking for. 
Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore.</div>
                              <ul class="status-box clearfix">
                                    <li><img src="images/blank-img.png" class="loc-icon" alt="" title="" />Los Angeles</li>
                                    <li><img src="images/blank-img.png" class="sm-doc-icon" alt="" title="" />Documentary Film</li>
                                    <li><img src="images/blank-img.png" class="sm-user-icon" alt="" title="" />3 Jobs</li>
                                </ul>
                              <div class="tx-right"><a href="#" class="blue-btn">View Project</a><a href="#" class="gray-btn ml6">No, Thanks</a> 
                            </div>
                            </div>
                        </li>
                        <li>
                            <div class="img-box fl"><img src="images/thumb-img.jpg" alt="" title="" /></div>
                            <div class="listing-cpart">
                              <div class="ls-hpart">
                                    <div class="fl">
                                        <h3>Filmzu Job Title</h3>
                                        <div class="cat-part clearfix">
                                          <div class="fl">by <span>User Name</span></div>
                                          <div class="fl">budget $50,000</div>
                                      </div>
                                    </div>
                                    <span class="time-box fr">1h left <img src="images/blank-img.png" class="clock-icon" alt="" title="" /></span>
                              </div>
                              <div class="des-text">Job description, what kind of people they are looking for. 
Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore.</div>
                              <ul class="status-box clearfix">
                                    <li><img src="images/blank-img.png" class="loc-icon" alt="" title="" />Los Angeles</li>
                                    <li><img src="images/blank-img.png" class="sm-doc-icon" alt="" title="" />Documentary Film</li>
                                    <li><img src="images/blank-img.png" class="sm-user-icon" alt="" title="" />3 Jobs</li>
                                </ul>
                              <div class="tx-right"><a href="#" class="blue-btn">View Project</a><a href="#" class="gray-btn ml6">No, Thanks</a> 
                            </div>
                            </div>
                        </li>                        
                    </ul>
                    </div>
                    <div class="pro-tips fr">
                      <div class="pro-tips-box">
                          <div class="tips-title clearfix">
                              <div class="left-box fl">Your profile is 40% complete!</div>
                                <div class="right-box fr"><a href="#">details</a></div>
                            </div>
                            <ul class="pro-link-box">
                              <li><a href="#"><img src="images/blank-img.png" class="red-plus-icon" alt="" title="" />Add your resume</a></li>
                                <li><a href="#"><img src="images/blank-img.png" class="red-plus-icon" alt="" title="" />Add your skills</a></li>
                                <li><a href="#"><img src="images/blank-img.png" class="red-plus-icon" alt="" title="" />Add your pay rate</a></li>
                                <li><a href="#"><img src="images/blank-img.png" class="red-plus-icon" alt="" title="" />Lorem Ipsym</a></li>
                            </ul>
                            <div id="progressbar"></div>
                        </div>
                      <div class="prodata-box">Lorem Ipsum Dolor <img src="images/blank-img.png" class="rarrow-icon mt6 fr" alt="" title="" /></div>
                        <div class="pro-title">Lorem Ipsum</div>
                        <ul class="pro-link">
                            <li><a href="#">Dolor sit amet</a></li>
                            <li><a href="#">Consectetur adipisicing</a></li> 
                            <li><a href="#">Elit sed do</a></li> 
                            <li><a href="#">Eiusmod tempor</a></li>
                        </ul>
                        <div class="pro-title">Lorem Ipsum</div>
                        <ul class="pro-link">
                            <li><a href="#">Dolor sit amet</a></li>
                            <li><a href="#">Consectetur adipisicing</a></li> 
                        </ul>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</section>




<%= javascript_include_tag 'bootstrap.min' %>

<%= javascript_include_tag 'jquery.uniform' %>

<%= javascript_include_tag 'jquery-ui' %>


<script type="text/javascript">
$(function(){
    
  $("select, :radio, :checkbox, :file").uniform();
  
  $( "#progressbar" ).progressbar({
    value: 37
  });
    
  var maxHeight = 0;
    
  $("div.inner-title-box").each(function(){
     if ($(this).height() > maxHeight) { maxHeight = $(this).height(); }
  });

  $("div.white-box, div.light-gray-box").height(maxHeight);
  
  $("div.dashbord-cpart").each(function(){
     if ($(this).height() > maxHeight) { maxHeight = $(this).height(); }
  });

  $(".nav-lpart, .content-rpart").height(maxHeight);
  
})
</script>
</body>
</html>
