<%= stylesheet_link_tag "static_pages/static_pages" %>
<!-- #content -->
<div class="au_con">
	<div class="client_pro">
		<div class="client_pro_txt">
			<ul>
				<li>Client Protection</li>
				<li><%= link_to('filmmaker_protection', :id => 'bread') do %>Filmmaker Protection<% end %></li>
			</ul>
			<p>Confidence for Clients</p>
		</div>
		<div class="profile_con"><%= image_tag("static_pages/profile_img.gif") %></div>		
	</div>
</div>
<div style="clear:both;"></div>


<div class="payment_prot">
	<div class="au_con">
		<div class="payment_prot_in">
			<ul>
				<li><a href="#"><%= image_tag("static_pages/payment_icon_1.gif") %> Payment Protection</a></li>
				<li><a href="#"><%= image_tag("static_pages/payment_icon_2.gif") %> Idea Protection </a></li>
				<li><a href="#"><%= image_tag("static_pages/payment_icon_3.gif") %> Hiring Safety</a></li>
				<li><a href="#"><%= image_tag("static_pages/payment_icon_4.gif") %> Support and Resources</a></li>
			</ul>
		</div>
	</div>
</div>
<div style="clear:both;"></div>


<div class="au_con">

<div class="payment_txt">
	Filmzu offers world-class protection of your ideas and money, giving you peace of mind. On Filmzu you'll find coverage for all jobs and unmatched visibility to ensure you get the results you are looking for. Hire and work on Elance and you can be confident you are working on the safest, most trusted workplace in the world. 
	
	<div class="pay_con">
		<h6>Payment Protection<p> Escrow Protection</p> </h6>
		<div class="pay_con_inner">
			<div class="escrow_con"><strong>1</strong><br>
				Client funds the project using Filmzu Escrow account
			</div>
			
			<div class="escrow_con_2"><strong>2</strong><br>
				Creative works and sends the client updates on their video 
			</div>
			
			<div class="escrow_con_3"><strong>3</strong><br>
				Client approves video and releases payment to Creative
			</div>
		</div>
		Easily schedule multiple payment milestones across the job to provide checkpoints along the way. Pay only after you have reviewed and approved work. 
	</div>
	
	
	
	
	<div class="pay_con">
		<h6>Protect your Ideas </h6>
		<p>Filmzu is designed to provide complete Intellectual Property Protection.<br> Before you hire you're protected with: </p>
<p class="pdg">The ability to attach your own Non-Disclosure Agreernent or other documentation to your job post. <br>Protection from Filmzu Terms of Service ensuring fundarnental policy and performance compliance.</p> 
<p>When you hire you remain in control with: </p>
<p class="pdg">Filmzu's Terms of Service, including a default Independent Contractor Services Agreement that protects your ideas after a job is awarded. Additional job terms you can attach, requiring freelancer agreement before a job officially kicks off. </p>
	</div>
	
	
	<div class="pay_con">
		<h6>Unlimited Hiring Possibility  </h6>
		<p>Have confidence in your hiring decision. Freelancer profiles and communication tools give you confidence in your hiring choice. This includes reputation metrics that provide a clear understanding of past performance and ranking on Filmzu, from Level Scores (a proprietary ranking metric fence how a freelancer ranks arnongst their peers) to Feedback Ratings (left by past clients to show performance overall). </p>
	</div>
	
	
	
	<div class="pay_con">
		<h6>Support &amp; Resources   </h6>
		<p>We're with you through every step of the way, and we even keep an eye on things when you're not around. This ranges from proactive and ongoing site and user review for policy and performance adherence to live phone, chat and email Customer Support to answer your questions at any time. Filmzu also offers professional, hands-on Dispute Assistance if you need it. Take advantage of all of Filmzu resources: </p>
	</div>
	
	   <div class="live_chat_con">
			<ul>
				<li><a href="#"><%= image_tag("static_pages/help_icon_1.gif") %> Live Chat</a></li>
				<li><a href="#"><%= image_tag("static_pages/help_icon_2.gif") %> Filmzu Help Center</a></li>
				<li><a href="#"><%= image_tag("static_pages/help_icon_3.gif") %> Filmzu University</a></li>
			</ul>
	</div>
	
	
</div>
</div>
<div style="clear:both;"></div>

<%= render "static_pages/cta" %>

<!-- #content -->