<%= stylesheet_link_tag "static_pages/static_pages" %>
<!-- #content -->
<div class="au_con">
	<div class="client_pro">
		<div class="client_pro_txt">
			<ul>
				<li><%= link_to('client_protection', :id => 'bread') do %>Client Protection<% end %></li>
				<li>Filmmaker Protection</li>
			</ul>
			<p>Confidence for Filmmakers</p>
		</div>
		<div class="profile_con"><%= image_tag("static_pages/profile_img_2.gif") %></div>		
	</div>
</div>
<div style="clear:both;"></div>


<div class="payment_prot">
	<div class="au_con">
		<div class="payment_prot_in">
			<ul>
				<li><a href="#"><%= image_tag("static_pages/payment_icon_1.gif") %> Payment Protection</a></li>
				<li><a href="#"><%= image_tag("static_pages/payment_icon_2.gif") %> Idea Protection </a></li>
				<li><a href="#"><%= image_tag("static_pages/payment_icon_3.gif") %> Hiring Safety</a></li>
				<li><a href="#"><%= image_tag("static_pages/payment_icon_4.gif") %> Support and Resources</a></li>
			</ul>
		</div>
	</div>
</div>
<div style="clear:both;"></div>


<div class="au_con">

<div class="payment_txt">
	Filmzu is the world's safest and most trusted workplace for freelancers to find work and get Paid. on Filmzu you'll find payment protection coverage available on jobs and a work enviroment that guarantees your work is safe, giving you the assurance you need to deliver great work.
	
	<div class="pay_con">
		<h6>Payment Protection<p> Escrow Protection</p> </h6>
		<div class="pay_con_inner">
			<div class="escrow_con"><strong>1</strong><br>
				Client funds the project using Filmzu Escrow Account
			</div>
			
			<div class="escrow_con_2"><strong>2</strong><br>
				Filmmaker works and sends the client updates on their video 
			</div>
			
			<div class="escrow_con_3"><strong>3</strong><br>
				Client approves video and releases payment to Filmmaker
			</div>
		</div>
		Milestones and Escrow let you verify funds from your client and confirm those funds are in place BEFORE you start working. 
	</div>
	
	
	
	
	<div class="pay_con">
		<h6>Profile and Reputation Management  </h6>
		<p> On Filmzu you can build a profile and reputation that inspires trust and helps you get hired.  </p>
		
<p class="pdg">Reputation metrics showcase your past performance and ranking on Filmzu. Level Scores and My Stats are proprietary metrics to see how you rank among your peers with the details to help you maximize your opportunities.<br> Recommend Score to highlight past client satisfaction.<br> Free Skill Tests and Groups to show your proficiency and help you stand out from the competition.<br> Free ID Verification to give clients confidence in who you are.<br> Real-time communication tools to manage all your work and communications on Filmzu, where you are protected.  </p>
	</div>
	
	
	<div class="pay_con">
		<h6>Support &amp; Resources   </h6>
		<p>We're with you through every step of the way, and we even keep an eye on things when you're not around. This ranges from proactive and ongoing site and user review for policy and performance adherence to live phone, chat and email Customer Support to answer your questions at any time. Filmzu also offers professional, hands-on Dispute Assistance if you need it. Take advantage of all of Filmzu resources: </p>
	</div>
	
	
	
	
	
	   <div class="live_chat_con">
			<ul>
				<li><a href="#"><%= image_tag("static_pages/help_icon_1.gif") %> Live Chat</a></li>
				<li><a href="#"><%= image_tag("static_pages/help_icon_2.gif") %> Filmzu Help Center</a></li>
				<li><a href="#"><%= image_tag("static_pages/help_icon_3.gif") %> Filmzu University</a></li>
			</ul>
	</div>
	
	
</div>
</div>
<div style="clear:both;"></div>

<%= render "static_pages/cta" %>

<!-- #content -->