<div class="dialog-box fun-popup">
  <div class="conf-hpart">
	  <h2>Escrow Funding and Payments</h2>
  </div>
  <div class="filmaker-box clearfix">
  	<div class="film-img-box fl">
      <%= image_tag @filmmaker.profile_photo, :width => 100, :height => 100 %>
    </div>
    <div class="film-cpart">
    	<h3><%= @filmmaker.name %></h3>
      <p>Desired Rate: <span>$<%= @filmmaker.rate%>/day</span></p>
      <ul class="status-box clearfix">
      	<li>
          <%= image_tag('blank-img.png', class: 'red-loc-icon') %><%=@filmmaker.location%>
        </li>
        <li>
          <%= image_tag('blank-img.png', class: 'red-star-icon') %>
          <%= @filmmaker.filmmaker_feedbacks.any? ? @filmmaker.filmmaker_feedbacks.average(:rating).to_i : 0 %> stars
        </li>
      </ul>
    </div>
  </div>
  <div class="funding-form clearfix">
  	<div class="fun-box1 fl">
    	<div class="colum1 fl">
      	<label class='ml10'>Payment Milestones
          <a class="help-link" href="#">
            <%= image_tag('blank-img.png', class: 'quation-icon') %>
          </a>
        </label>
        <% @milestones.each do |milestone| %>
			    <input type="text" class="int188 mt7" value="<%= milestone.name%>" />
        <% end %>
      </div>
      <div class="colum2 fl">
      	<label class='ml10'>Delivery Date</label>
        <% @milestones.each do |milestone| %>
			    <input type="text" class="int96 mt7" value="<%=milestone.delivery_date %>" />
        <% end %>
        <div class="total-text">Total</div>
      </div>
      <div class="colum3 fl">
      	<label class='ml10'>Amount</label>
        <% @milestones.each do |milestone| %>
			    <input type="text" class="int96 mt7" value="<%=milestone.amount %>" />
        <% end %>
	      <input type="text" class="int96 mt7" value=<%= @direct_hire_proposal.direct_hire_proposal_milestones.sum(:amount) %> />
      </div>
    </div>
    <div class="fun-box2 fl">
    	<div class="colum1 fl">
      	<label class='mb10'>Fund Escrow</label>
        <% @milestones.each do |milestone| %>
			    <% if milestone.fund_escrowed %>
			      <div class="icon-int clearfix mt5" style="margin-bottom:5px;">
              <%= image_tag('blank-img.png', class: 'blue-ok-icon') %>
              <input type="text" value="Funded" class="int96" />
            </div>
	        <% else %>
				    <%= link_to "Fund", client_fund_escrow_direct_hire_milestone_path(milestone), class: 'blue-btn mbtn5' %>
		      <% end %>
        <% end %>
      </div>
      <div class="colum2 fl">
      	<label>Release Escrow</label>
		    <% @milestones.each do |milestone| %>
			    <% if milestone.payment_released %>
			      <div class="icon-int clearfix mt5" style="width:112px;">
              <%= image_tag('blank-img.png', class: 'blue-ok-icon') %>
              <input type="text" value="$<%=milestone.pay_amount%>" class="int96" style="width: 66px !important;"/>
            </div>
	        <% else %>
			      <%= link_to "Release Payment", client_release_payment_direct_hire_milestone_path(milestone), class: 'blue-btn release-btn' %>
		      <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
