<section id="mpart">

<div class="full-inner-title-box">
	<div class="container clearfix">
      	<div class="row">
      		<h2>Client Sign In</h2>
      		<p>Filmzu puts the top filmmakers at your fingertips, plus it’s FREE and always will be. Not a Client? <%= link_to "Filmmaker Sign In", new_filmmaker_session_url =%>.</p>
  		</div>
      </div>
  </div>

<div class="stripbox-1 pr">
      <div class="light-gray-box"></div>
      <div class="white-box"></div>
  </div>

  <div class="reg-box">
	<div class="container">
      	<div class="row clearfix">
          	<div class="reg-gray-box fl">							
							<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
                <%= f.error_notification %>
                  <ul class="reg-form">
                      <li>
                          <%= f.input :email, :label => "Email Address", :placeholder => "Email", :required => false, :autofocus => true, input_html: { class: 'wh-txt-box' } %>
                      </li>
                      <li>
                          <%= f.input :password, :label => "Password", :placeholder => "Password", :required => false, input_html: { class: 'wh-txt-box' } %>
											</li>
                      <li>
                          <%= f.button :submit, "Sign in", :class => 'big-blue-btn' %>
                      </li>
											<li><%= link_to "Forgot your password?", new_password_path(resource_name), :class =>'link' %></li>
                  </ul>
							<% end %>
              </div>
              <div class="reg-white-box fl">
                  <p>Have trouble remembering password?</p>
                 <a href="/users/auth/facebook" class="big-blue-btn"><%= image_tag('blank-img.png', :class =>'link-icon')%><span>Log In With Facebook</span></a>
		 <a href="/users/auth/linkedin" class="big-blue-btn"><%= image_tag('blank-img.png', :class =>'link-icon')%><span>Log In With Linkedin</span></a>


              </div>
          </div>
     	</div>
  </div>

</section>

<script>
  var maxHeight = 0;

  $("div.reg-box").each(function(){
      if ($(this).height() > maxHeight) { maxHeight = $(this).height(); }
   });

  $("div.white-box, div.light-gray-box").height(maxHeight);
</script>

<%
      Rails.cache.write("oauth_user_type", 'Client')
      Rails.cache.write("action_type", 'sign_in')
%>
