%section#mpart
  .stripbox.pr
    .white-box
    .light-gray-box
  .container.clearfix
    .row
      = render 'filmmakers/shared/filmmaker_left_sidebar'
      .content-rpart
        .inner-title-box
          %h2 Transaction History
          %p Below is a list of all your transactions
        .box-space
          .ac-title
            .fl Deposits
            = link_to 'Back to Accounts', filmmakers_accounts_url, class: 'blue-btn fr'
          %table{class: 'ac-data', width: '100%', cellpadding: '0', cellspacing: '0'}
            %tr
              %th Transaction number
              %th Amount
              %th Status
              %th Failure reason
              %th Date & Time
            - if @withdraws.present?
              - @withdraws.each do |withdraw|
                %tr
                  %td= withdraw.transaction_number
                  %td= "$ #{withdraw.amount / 100 rescue nil}"
                  %td= withdraw.status
                  %td= withdraw.failure_reason
                  %td= withdraw.created_at.strftime('%b %d, %Y %H:%M:%S %Z')

            = paginate @withdraws

  :javascript
    var maxHeight = 0;
    $("div.inner-title-box").each(function(){
      if ($(this).height() > maxHeight) { maxHeight = $(this).height(); }
    });
    $("div.white-box, div.light-gray-box").height(maxHeight);
