<section id="mpart">
	<div class="full-inner-title-box clearfix">
		<div class="container">
			<div class="row">
				<div class="inn-title-cpart fl">
					<h2><%= project.title%></h2>
					<ul class="red-status-box clearfix">
						<li>
							<%= image_tag("blank-img.png", :class => "red-loc-icon")%><%= project.location %>
						</li>
						<li>
							<%= image_tag("blank-img.png", :class => "sm-doc-red-icon")%><%= questions[0].answer_text %>
						</li>
						<li>
							<%= image_tag("blank-img.png", :class => "red-profile-icon")%><%= project.project_proposals.size%> Jobs
						</li>
						<li>
							<%= image_tag("blank-img.png", :class => "red-clock-icon")%>Posted <%= project.created_at.strftime("%B %d")%>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="container clearfix">
		<div class="row summary-box">
			<div class="feedback-box">
				<div class="summ-box">
					<div class="summ-hpart">
						<h3>Leave Feedback</h3>
					</div>
					<div class="summ-des">
						<%= project.description%>
					</div>
					<ul class="summ-film-detail">
						<li>
							<span>Film Length:</span> <%= questions[1].answer_text %>
						</li>
						<li>
							<span>Proposals due in:</span> <%= questions[2].answer_text %>
						</li>
						<li>
							<span>Total Budget:</span> <%= number_to_currency(project.price) %>
						</li>
						<li>
							<span>Visibility:</span> <%= questions[3].answer_text %>
						</li>
						<% unless project.skills.blank? %>
						  <li>
							  <span>Skills:</span> <%= project.skills.join(", ") %>
						  </li>
						<% end %>
					</ul>
				</div>
         <%if current_filmmaker%>
				<%= form_tag(submit_feedback_path, :id => 'new_feedback') do |f| %>
				<ul class="review-form">
					<% FilmmakerFeedback::CLIENT_FEEDBACK_ATTRIBUTES.each do |feedback| %>
					<li>
						<%if feedback.eql?(FilmmakerFeedback::CLIENT_FEEDBACK_ATTRIBUTES[0])%>
						 <input type="hidden" name="feedback[<%=feedback.downcase%>]" id='<%=feedback.downcase%>' value = "<%=feedbacks.cost%>">
                         <%end%>
                         
                         <%if feedback.eql?(FilmmakerFeedback::CLIENT_FEEDBACK_ATTRIBUTES[1])%>
						 <input type="hidden" name="feedback[<%=feedback.downcase%>]" id='<%=feedback.downcase%>' value = "<%=feedbacks.response%>">
                         <%end%>
                         
                         <%if feedback.eql?(FilmmakerFeedback::CLIENT_FEEDBACK_ATTRIBUTES[2])%>
						 <input type="hidden" name="feedback[<%=feedback.downcase%>]" id='<%=feedback.downcase%>' value = "<%=feedbacks.expertise%>">
                         <%end%>
                         
                         <%if feedback.eql?(FilmmakerFeedback::CLIENT_FEEDBACK_ATTRIBUTES[3])%>
						 <input type="hidden" name="feedback[<%=feedback.downcase%>]" id='<%=feedback.downcase%>' value = "<%=feedbacks.schedule%>">
                         <%end%>
                         
                         <%if feedback.eql?(FilmmakerFeedback::CLIENT_FEEDBACK_ATTRIBUTES[4])%>
						 <input type="hidden" name="feedback[<%=feedback.downcase%>]" id='<%=feedback.downcase%>' value = "<%=feedbacks.professional%>">
                         <%end%>						
						
						<label><%= feedback %><span class="fr">Move slider to select level of satisfaction</span></label>
						<div>
							<span class="label-left">Not Good</span>
							<div class="slider6 <%= feedback.downcase %>"></div>
							<span class="label-right">Incredible</span>
						</div>
					</li>
					<% end %>

					<li>
						<label>Comments</label>
						<div class="comment-box">
							<%= text_area_tag "feedback[comment]", "#{@feedbacks.comment}" %>
							<span class="lmt-text">100 characters limit</span>
						</div>
					</li>
					<li class="btn-box text-right clearfix">                    	
                        <span class="comment-text">These comments are final, please review carefully.</span>
                        <a href="#" class="orange-btn" onclick="$('#new_feedback').submit();">Leave Feedback</a>
                        <a href="<%=request.referer%>" class="gray-btn ml6">Cancel</a>
                    </li>
				</ul>
				<%= hidden_field_tag "feedback[client_id]", project.client.id %>
				<%= hidden_field_tag "feedback[filmmaker_id]", current_filmmaker.id %>
				<%= hidden_field_tag "feedback[project_id]", project.id %>
				<% end %>
			  
			  <%else%>
				  <%= form_tag(submit_feedback_path, :id => 'new_feedback') do |f| %>
					<ul class="review-form">
						<% feedbacks.first(6).each do |feedback| %>
						<% unless feedback.attribute_key.eql?('comment') %>
						<li>
							<input type="hidden" name="feedback[<%= feedback.attribute_key %>]" id='<%= feedback.attribute_key%>' value = <%= feedback.rating%> >
	
							<label><%= feedback.attribute_value %><span class="fr">Move slider to select level of satisfaction</span></label>
							<div>
								<span class="label-left">Not Good</span>
								<div class="slider6 <%= feedback.attribute_key %>"></div>
								<span class="label-right">Incredible</span>
							</div>
						</li>
						<% end %>
						<% end %>
	
						<li>
							<label>Comments</label>
							<div class="comment-box">
							    <%= text_area_tag :comment, feedbacks.last.attribute_value, :id => "feedback_comment" %>
								<span class="lmt-text">100 characters limit</span>
	
							</div>
						</li>
                        <li class="btn-box text-right clearfix">                    	
                          <span class="comment-text">These comments are final, please review carefully.</span>
                          <a href="#" class="orange-btn" onclick="$('#new_feedback').submit();">Leave Feedback</a>
                          <a href="<%=request.referer%>" class="gray-btn ml6">Cancel</a>
                        </li>					
                     </ul>
					<%= hidden_field_tag :client_id, current_client.id %>
					<%= hidden_field_tag :project_id, project.id %>
					<% end %>
			  <%end%>	
			</div>
		</div>
	</div>
</section>

<%= javascript_include_tag 'bootstrap.min' %>
<%= javascript_include_tag 'jquery-ui' %>
<%= javascript_include_tag 'jquery-ui-slider-pips' %>
<script type="text/javascript">
$(function(){

  $(".slider6").slider({ max: 5});

  $(".slider6").slider("pips" , {
    rest: "label"
  });

  display_char_left_count();

  $('#feedback_comment').bind("change keyup input",function() {
    var limitNum = 100;
    var left_char = limitNum - $(this).val().length;
    if ( left_char < 0 ) {
      left_char = 0
    }
    if ($(this).val().length > limitNum) {
      $(this).val($(this).val().substring(0, limitNum));
    }
    $(".lmt-text").html(left_char + " characters left.")
  }); 

$(".slider6").on('slidechange',  function(e,ui){
var class_name = $(this).attr('class').split(' ')[1];
$('#'+class_name).val(parseInt(ui.value));
});

<%if current_client%>
	<% feedbacks.first(6).each do |feed| %>
	<% unless feed.attribute_key.eql?('comment') %>
	$("div  .<%= feed.attribute_key.to_s %>").slider({value:<%= feed.rating %>});
	<% end %>
	<% end %>
<%else%>
$("div  .cost").slider({value:<%= feedbacks.cost %>});
$("div  .response").slider({value:<%= feedbacks.response %>});
$("div  .expertise").slider({value:<%= feedbacks.expertise %>});
$("div  .schedule").slider({value:<%= feedbacks.schedule %>});
$("div  .professional").slider({value:<%= feedbacks.professional %>});
<%end%>
});

function display_char_left_count(){
  var limitNum = 100;
  var left_char = limitNum - $('#feedback_comment').val().length;
  if ( left_char < 0 ) {
    left_char = 0
  }
  $(".lmt-text").html(left_char + " characters left.")  
}

</script>
