<!doctype html>

<html>

<head>

<meta charset="utf-8">

<title>Register</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">



<%= stylesheet_link_tag("style") %>

<%= stylesheet_link_tag("bootstrap.min") %>

<%= stylesheet_link_tag("colorbox") %>

<%= stylesheet_link_tag("uniform.default") %>


<!--[if lte IE 8]><script type="text/javascript" src="js/html5shiv.js"></script><![endif]-->

<!--[if lte IE 8]><script type="text/javascript" src="js/respond.min.js"></script><![endif]-->


<%= javascript_include_tag 'jquery-1.9.0' %>

<%= javascript_include_tag 'jquery-1.2.1' %>



</head>



<body>



<header id="hpart">

	<div class="container clearfix">

    	<div class="row">

            <div class="navbar-header">

                <a href="#" class="logo fl"><img src="images/logo.png" alt="" title="" /></a>

                <div class="search-box fl"><input type="text" value="Search" /></div>

                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">

                    <span class="sr-only">Toggle navigation</span>

                    <span class="icon-bar"></span>

                    <span class="icon-bar"></span>

                    <span class="icon-bar"></span>

                </button>            

            </div>

            <div class="navbar-collapse collapse">

                <ul class="navnbar fl">

                    <li><a href="#"><img src="images/blank-img.png" class="project-icon" alt="" title="" />Projects</a></li>

                    <li><a href="#"><img src="images/blank-img.png" class="people-icon" alt="" title="" />People</a></li>            

                </ul>

                <div class="fr"><a href="signup.html" class="orange-btn ajax cboxElement">Sign In</a></div>

            </div>

    	</div>

    </div>

</header>



<section id="mpart">	

    

	<div class="stripbox-2 pr">    	

        <div class="light-gray-box"></div>

        <div class="white-box"></div>

    </div>

    

    <div class="reg-box">    

		<div class="container">

        	<div class="row clearfix">

            	<ul class="reg-lpart fl">

                    <li><a href="#"><span class="icon-box"><img src="images/blank-img.png" class="ok-icon" alt="" title="" /></span>Basics</a></li>

                    <li class="active"><a href="#"><span class="icon-box"><img src="images/blank-img.png" class="plus-icon" alt="" title="" /></span>Account</a></li>

                    <li><a href="#"><span class="icon-box"><img src="images/blank-img.png" class="plus-icon" alt="" title="" /></span>Portfolio</a></li>

                </ul>

                <div class="reg-rpart fl">

                

                	<div class="reg-hpart clearfix">

                        <div class="fl">

                            <h2>Pick an Account Type</h2>

                            <p>Step 2: Pro or Standard</p>

                        </div>

                        <div class="fr">

                        	<a href="#" class="text-link">Sign Up as Filmaker</a>

                            <a href="#" class="blue-btn ml6">Next step</a><a href="#" class="gray-btn ml6">Cancel</a>

                        </div>

                	</div>

                    

                    <div class="clearfix">

                    	<ul class="ac-type fl">

                        	<li class="ac-hpart">

                            	<h3>Pro</h3>

                                <p>US $9/MO</p>

                            </li>

                            <li class="ac-benefit">Pro Benefits</li>

                            <li class="ac-data1">Message All Users</li>

                            <li class="ac-data1">Apply to up to 50 projects per month</li>

                            <li class="ac-data1">

                            	<div class="feature-title">Unique features</div>

                            	<ul class="feature-text">

                                	<li><img src="images/dot-img.jpg" alt="" title="" /> View job posts before standard users</li>

                                    <li><img src="images/dot-img.jpg" alt="" title="" /> Featured Profiles</li>

                                    <li><img src="images/dot-img.jpg" alt="" title="" /> Vetter Profile ensures professionalism</li>

                                    <li><img src="images/dot-img.jpg" alt="" title="" /> Appear Higher in search results</li>

                                </ul>

                            </li>

                            <li class="member-text">Filmzu Pro Members are admiddted through a simple application 

process only. Learn about the qualifications <a href="#">here</a></li>

							<li class="mt50"><a href="#" class="big-orange-btn">Go Pro</a></li>

                        </ul>

                        <ul class="ac-type fr">

                        	<li class="ac-hpart">

                            	<h3>Standard</h3>

                                <p>Free</p>

                            </li>

                            <li class="ac-benefit">Standard Benefits</li>

                            <li class="ac-data1">Message Standard Users Only</li>

                            <li class="ac-data1">Apply to up to 20 projects per month</li>

							<li class="mt259"><a href="#" class="big-gray-btn">Select Now</a></li>

                        </ul>

                    </div>

                    

                </div>

            </div>

       	</div>          	

    </div> 

       

</section>



<footer id="fpart">

	<div class="container clearfix">

    	<div class="row fpart-row1 clearfix">

        	<div class="col-md-8 logo-box"><img src="images/footer-logo.png" alt="" title="" /></div>

            <div class="col-md-4 fpart-linkbox">

                <h3>Connect with us</h3>               	

                <ul class="col-md-6">

                    <li><a href="#">Our Blog</a></li>

                    <li><a href="#">Twitter</a></li>

                    <li><a href="#">AngelList</a></li>                        

                </ul>

                <ul class="col-md-6">

                    <li><a href="#">Facebook</a></li>

                    <li><a href="#">Linkedin</a></li>

                    <li><a href="#">Pinterest</a></li>

                </ul>

            </div>

        </div>

    	<div class="row">

        	<div class="col-md-12 fpart-row2">&copy; Copyright 2014 Filmzu. All Rights Reserved.</div>

        </div>

    </div>

</footer>



<%= javascript_include_tag 'bootstrap.min' %>
<%= javascript_include_tag 'jquery.colorbox' %>
<%= javascript_include_tag 'jquery.uniform' %>


<script type="text/javascript">

$(function(){

	$(".ajax").colorbox()

	$("select, :radio, :checkbox, :file").uniform();

	var maxHeight = 0;



	$("div.reg-box").each(function(){

	   if ($(this).height() > maxHeight) { maxHeight = $(this).height(); }

	});



	$("div.white-box, div.light-gray-box").height(maxHeight);



})

</script>

</body>

</html>
