 <div class="img-box fl">
  
    <!--span class="alerts-box">4</span-->
    <%if project_type == "TV Commercial" %>
      <%= image_tag("video_icons/tv-icon.png", :data => {:toggle => "tooltip", :placement => "left"}, :title => "#{project_type}")%>
    <%elsif project_type == "Crowdfunding"%>
      <%= image_tag("video_icons/crowd-funding.png", :data => {:toggle => "tooltip", :placement => "left"}, :title => "#{project_type}")%>
    <%elsif project_type == "Web Video"%>
      <%= image_tag("video_icons/web-video-icon.png", :data => {:toggle => "tooltip", :placement => "left"}, :title => "#{project_type}")%>
    <%elsif project_type == "Event"%>
      <%= image_tag("video_icons/event-icon.png", :data => {:toggle => "tooltip", :placement => "left"}, :title => "#{project_type}")%>
    <%elsif project_type == "Other"%>
      <%= image_tag("video_icons/other-icon.png", :data => {:toggle => "tooltip", :placement => "left"}, :title => "#{project_type}")%>
    <%elsif project_type == "Explainer Video"%>
      <%= image_tag("video_icons/exp-video-icon.png", :data => {:toggle => "tooltip", :placement => "left"}, :title => "#{project_type}")%>
    <% end %>
  </div>