<%= javascript_include_tag 'social-share-button' %>
<section id="mpart">
	<div class="stripbox pr">

		<div class="white-box"></div>

		<div class="light-gray-box"></div>

	</div>

	<div class="container clearfix">

		<div class="dashbord-cpart row">

			<%= render 'clients/shared/left_sidebar' %>

			<div class="content-rpart">

				<div class="inner-title-box clearfix">

					<h2 class="fl">Dashboard</h2>

					<div class="wh-sm-select fl">

						<div class="fl wh-search-box">
							<%=form_for :project, :url => "/clients/dashboard" do |s|%>
							<input type="text" name="search_name" value="<%= params[:search_name] %>" placeholder="Search Projects"/>
							<%= s.submit "", :class=>"search-btn"%>
							<%end%>
						</div>

						<div class="fl add-pro-box">
							<a href="create-project" class="ajax cboxElement"><span class="plus-box"><%= image_tag("blank-img.png", :class => "plus-icon")%></span>Add New Project</a>
						</div>

					</div>

				</div>

				<div class="pro-mpart clearfix">

					<div class="review-box fl">

						<ul class="pro-listing">
							<%@projects.each do |project| %>
							<%= render :partial => 'project', :locals => {:project => project}%>
							<% end %>
						</ul>

					</div>

					<div class="pro-tips fr">
						<div class="pro-tips-box">
							<div class="tips-title clearfix">
								<div class="entire-box fl">
									Project To-Do List
								</div>
							</div>
							<ul class="pro-link-box">
								<% first_project = current_client.projects.first %>
								<li>
									<% if first_project.present? %>
									<a href="create-project" class="ajax cboxElement">
									<%= image_tag('blank-img.png', class: 'blue-ok-icon') %>
		              Add a project</a>
									<% else %>
									<a href="create-project" class="ajax cboxElement">
									<%= image_tag("blank-img.png", :class => "red-plus-icon" )%>
		              Add a project</a><span> + 20%</span>
									<% @gamification_value = "1" %>
									<% end %>
								</li>
								<% if first_project.present? %>
								<li>
										<% if first_project.direct_hire_proposals.approved.first.present? %>
											<%= link_to project_proposals_path(url_encode(first_project.id)) do %><%= image_tag('blank-img.png', class: 'blue-ok-icon') %>
										Select a proposal<% end %>
									  <% else %>
											<% if current_client.project_hires.first.nil? %>
												<%= link_to project_proposals_path(url_encode(first_project.id)) do %><%= image_tag("blank-img.png", :class => "red-plus-icon" )%>Select a proposal<% end %><span> + 20%</span>
												<% @gamification_value = "20" %>
												<% else %>
												<%= link_to project_proposals_path(url_encode(first_project.id)) do %><%= image_tag('blank-img.png', class: 'blue-ok-icon') %>Select a proposal<% end %>
											<% end %>
										<% end %>
								</li>

								<li>
								  <% if first_project.direct_hire_proposals.approved.first.present? %>
									<%= link_to client_release_direct_hire_payment_path(first_project.direct_hire_proposals.approved.first.id), class: 'ajax' do %><%= image_tag("blank-img.png", :class =>"red-plus-icon" )%>Fund a milestone<% end %><span> + 20%</span>
									<% @gamification_value = "40" %>
									</li>
									<li>
									<%= link_to client_release_direct_hire_payment_path(first_project.direct_hire_proposals.approved.first.id), class: 'ajax' do %><%= image_tag("blank-img.png", :class =>"red-plus-icon" )%>Release a payment<% end %><span> + 20%</span>
						     	<% else %>
									<% if first_project.project_proposals.exists?(:is_approved => true) %>
										<% if first_project.is_funded? %>
											<a href="#"><%= image_tag('blank-img.png', class: 'blue-ok-icon') %>Fund a milestone</a>
										<% else %>
											<a href="release_payment?proposal_id=<%= first_project.project_proposals.where(:is_approved => true).first.id %>" class="ajax"><%= image_tag("blank-img.png", :class =>"red-plus-icon" )%>Fund a milestone</a><span> + 20%</span>
											<% @gamification_value = "40" %>
										<% end %>

										<% if false %>
											<a href="release_payment?proposal_id=<%= first_project.project_proposals.where(:is_approved => true).first.id %>"><%= image_tag("blank-img.png", :class =>"red-plus-icon" )%>Fund your milestones</a><span> + 20%</span>
										<% end %>
								</li>
								<li>
									<% if first_project.is_complete? %>
										<a href="#"><%= image_tag('blank-img.png', class: 'blue-ok-icon') %>Release your payments</a>
										<% else %>
										<a href="release_payment?proposal_id=<%= first_project.project_proposals.where(:is_approved => true).first.id %>" class="ajax"><%= image_tag("blank-img.png", :class => "red-plus-icon" )%>Release your payments</a><span> + 20%</span>
										<% @gamification_value = "60" %>
									<% end %>
									<% else %>
										<a href="#"><%= image_tag("blank-img.png", :class =>"red-plus-icon" )%>Fund a milestone</a><span> + 20%</span>
									</li>
									<li>
										<a href="#"><%= image_tag("blank-img.png", :class => "red-plus-icon" )%>Release your payments</a><span> + 20%</span>
										<% end %>
									<% end %>
								</li>
								<li>
									<% if current_client.project_feedbacks.empty? %>
										<% if !first_project.is_complete? %>
											<a href="#"><%= image_tag("blank-img.png", :class => "red-plus-icon" )%>Leave feedback</a><span> + 20%</span>
										<% else %>
											<% if current_client.filmmaker_feedbacks.nil? %>
												<%= link_to feedback_filmmaker_project_url(:project_id => first_project.id) do %><%= image_tag("blank-img.png", :class => "red-plus-icon" )%>Leave feedback<% end %><span> + 20%</span>
												<% @gamification_value = "80" %>
											<% else %>
												<a href="#"><%= image_tag('blank-img.png', class: 'blue-ok-icon') %>Leave feedback</a>
												<% @gamification_value = "100" %>
											<% end %>
										<% end %>
									<% end %>
								</li>
									<% else %>
								<li><a href='#'><%= image_tag("blank-img.png", :class => "red-plus-icon" )%>Select a proposal</a><span> + 20%</span></li>
								<li><a href="#"><%= image_tag("blank-img.png", :class =>"red-plus-icon" )%>Fund your milestones</a><span> + 20%</span></li>
								<li><a href="#"><%= image_tag("blank-img.png", :class => "red-plus-icon" )%>Release your payments</a><span> + 20%</span></li>
								<li><a href="#"><%= image_tag("blank-img.png", :class => "red-plus-icon" )%>Leave feedback</a><span> + 20%</span></li>
								<% end %>

							</ul>
							<div id="progressbar" value="<%= @gamification_value %>"></div>
						</div>
						<div class="prodata-box">
								<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Tell a friend <%= image_tag("blank-img.png", :class => "rarrow-icon mt6 fr" )%></a>

								<ul class="dropdown-menu" role="menu">

								            <li><div class="social-share-button" data-title="Filmzu the easiest way to get videos made online!" data-img="http://filmzu.com/assets/logo.png" data-url="http://filmzu.com">	<a href="#" class="tellfriend" data-site="facebook" onclick="return SocialShareButton.share(this);" rel="nofollow " title="Share to Facebook">Share on Facebook</a></div></li>
								            <li class="divider"></li>
								            <li><div class="social-share-button" data-title="Filmzu the easiest way to get videos made online!" data-img="http://filmzu.com/assets/logo.png" data-url="http://filmzu.com"><a href="#" class="tellfriend" data-site="google_plus" onclick="return SocialShareButton.share(this);" rel="nofollow " title="Share to Google+">Share on Google Plus</a></div></li>
								            <li class="divider"></li>
								            <li><div class="social-share-button" data-title="Filmzu the easiest way to get videos made online!" data-img="http://filmzu.com/assets/logo.png" data-url="http://filmzu.com"><a href="#" class="tellfriend" data-site="twitter" onclick="return SocialShareButton.share(this);" rel="nofollow " title="Share to Twitter">Share to Twitter</a></div></li>

								</ul>
					      </li>
						</div>
						<div class="pro-title">
							Client Trust
						</div>
						<ul class="pro-link">
							<li>
								<%= link_to "Dispute Management", clients_disputes_url %>
							</li>
							<li>
								<%= link_to "Filmmaker Protection", filmmaker_protection_url %>
							</li>
							<li>
								<%= link_to "Client Protection", client_protection_url %>
							</li>
							<li>
								<%= link_to "Terms & Conditions", terms_url %>
							</li>
						</ul>
						<div class="pro-title">
							About Filmzu
						</div>
						<ul class="pro-link">
							<li>
								<%= link_to "Privacy Policy", privacy_url %>
							</li>
							<li>
								<%= link_to "Contact Us", contact_url %>
							</li>
						</ul>
					</div>

				</div>

			</div>

		</div>

	</div>

</section>

<%= javascript_include_tag 'jquery.colorbox' %>

<script type="text/javascript">
	$(function() {

		$("select, :radio, :checkbox, :file").uniform();

		$(".ajax").colorbox({maxHeight: '1925px'});
		$('#close_btn').click(function(){$(".ajax").colorbox.close()});

	  $( "#progressbar" ).progressbar({
			value : parseInt($("#progressbar").attr('value'))
	  });
	
		var maxHeight = 0;

		$("div.inner-title-box").each(function() {

			if ($(this).height() > maxHeight) {
				maxHeight = $(this).height();
			}

		});

		$("div.white-box, div.light-gray-box").height(maxHeight);

		$("div.pro-mpart").each(function() {

			if ($(this).height() > maxHeight) {
				maxHeight = $(this).height();
			}

		});

		$(".pro-mpart div.review-box , div.pro-tips").height(maxHeight);

		$("div.dashbord-cpart").each(function() {

			if ($(this).height() > maxHeight) {
				maxHeight = $(this).height();
			}

		});

		$(".nav-lpart, .content-rpart").height(maxHeight);
	})

	function resize_colorbox(h){
		$('#cboxWrapper').css('height', h);
		$('#cboxMiddleLeft').css('height', h);
		$('#cboxMiddleRight').css('height', h);
		$('#cboxContent').css('height', h);
		$('#cboxLoadedContent').css('height', h);
	}

</script>
