<!DOCTYPE HTML>
<html><head>
<title>Filmzu | Video Production Marketplace</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!--[if lte IE 8]><%= javascript_include_tag 'html5shiv' %><![endif]-->
<!--[if lte IE 8]><%= javascript_include_tag 'respond.min' %><![endif]-->

<%= javascript_include_tag 'popup' %>

<%= stylesheet_link_tag("style") %>
<%= stylesheet_link_tag("uniform.default") %>
<%= stylesheet_link_tag("step-slider") %>
<%= stylesheet_link_tag("colorbox") %>
<%= stylesheet_link_tag("bootstrap.min") %>
<%= stylesheet_link_tag("jquery.fancybox") %>
<%= stylesheet_link_tag("animate") %>
<%= stylesheet_link_tag("jquery-ui") %>
<%= stylesheet_link_tag("jquery_ui_slide_pips") %>
<%= stylesheet_link_tag("jslider") %>
<%= javascript_include_tag 'jquery.geocomplete' %>
<!--script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places&callback=initialize"></script-->




<style>
			#wraper{
				position:relative;
			}
			#slider{
				opacity:0;
				height:0;
				width:0;
			}
			#sliderElements{
				position: relative;
			}
			#slideImgs{
				position:absolute;
				width: 73.2%;
				top: 16%;
				z-index: 2;
				left: 13.3%;
			}
			.posSbs{
				position:absolute;
				left:0;
			}
			.frameWindow{
				position: relative;
				z-index: 3;
			}
		</style>
<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->

</head>
<body>

<div id="wraper">
 <%= yield %>
</div>
</body>
</html>
