%p#notice= notice

%p
  %b Account:
  = @account.account_id
%p
  %b Credit card:
  = @account.credit_card
%p
  %b Default account:
  = @account.default_account
%p
  %b Backup payment:
  = @account.backup_payment

= link_to 'Edit', edit_account_path(@account)
\|
= link_to 'Back', accounts_path
